
@{
    ViewData["Title"] = "About Joe's Used Cars";
}

<h1>Joe's Used Cars</h1>

<h2>Trust us, we are the only honest dealership</h2>

<p>
    yada yada placeholder something about cars
    will put in text late
</p>

<h3> Contact Us</h3>
<p>
    Email us at <a href="mailto:support@joescars.com">support@joescars.com</a>
</p>
